---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am a second-year Ph.D. student in the Department of Computer Science at <a href="https://www.rochester.edu/" target="_blank">University of Rochester</a> (UR), 
  where I am fortunate to be advised by Prof. <a href="https://www.cs.rochester.edu/~cxu22/index.html" target="_blank">Chenliang Xu</a>. 
  Prior to that, I received my M.S.E degree in Financial Mathematics at <a href="https://www.jhu.edu/" target="_blank">Johns Hopkins University</a> (JHU). 
  and my B.Sc. degree in physics at <a href="https://en.ustc.edu.cn/" target="_blank">University of Science and Technology of China</a> (USTC). 
  <!-- I was also lucky to work with Prof. <a href="https://mbichuch.github.io/" target="_blank">Maxim Bichuch</a> and Prof. <a href="https://engineering.dartmouth.edu/community/faculty/peter-chin/" target="_blank">Peter Chin</a>. -->
  </p>

  <p>
    I am broadly interested in: </br>
    - <b>Trustworthy AI:</b> hallucination, bias, privacy, and explainability; </br>
    - <b>Forward Learning</b>: likelihood ratio method, zeroth-order optimization; </br>
    - <b>MLLM</b>: Audio-visual LLM, Video LLM; </br>
  </p>

  <p>
    <!-- Currently, my research focuses on <b>Trustworthy AI</b>, especially robustness, privacy, and explainability.  I also have a keen interest in "physical" properties in latent spaces.  -->
    <span style="color:deeppink;">I am actively looking for collaboration on research. If you share similar interests, please feel free to contact me!</span> 
  </p>

</div>

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h4>News</h4>

  <ul>
      {% for nw in site.data.news.news %}
      <!-- <a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a> -->

      <div class="row"><div class="twop columns"><b>{{ nw.date }}</b></div> <div class="ten columns">{{ nw.title }} <i>{{ nw.subtitle }}</i></div></div>
      {% endfor %}
  </ul>

</div>

<!-- <div class="docs-section" id="prospective-students">  
  <h4>Prospective Students</h4>
  <p>
  <b>I'm recruiting PhD students to start Fall 2024 at the University of Washington! </b> 
  I'm looking for students passionate about using computational methods to study how social platforms can be reimagined to <u>enable better conversations, bridge political divides, and reduce the spread of misinfo</u>.
  I'm particularly interested in the <u>role of algorithms</u> in social platforms.
  I'm especially looking for students with a background and/or interest in <u>social network analysis, machine learning, causal inference, or natural language processing</u>.
  <br/>
  If you are interested, please apply to the UW iSchool <a href="https://ischool.uw.edu/programs/phd/admissions" target="_blank">PhD program</a> and mention me in your application.
  <br/>
  If you have any questions, feel free to reach out.
  </p> 
</div> -->


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p><a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/>
  <b>*</b> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-trustworthy">Trustworthy</div></li>
    <li><div class="button" data-ref="#papers-mllm">MLLM</div></li>
    <li><div class="button" data-ref="#papers-forwardlearning">Forward Learning</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <!-- <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div> -->
    <div class="tab-pane active" id="papers-trustworthy">
      {% for paper in site.data.publications.papers %}
      {% if paper.category contains 'Trustworthy' %}
        <div class="paper">
          <div class="row" style="display: flex;align-items: center;">
            <div class="four columns">
              <div class="figure" style="display: flex; justify-content: center;">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            <div class="eight columns">
                          
              {% if paper.highlight %}
              <p class="title" style="color: #07c63c;"><b>{{ paper.title }}</b></p>
              {% else %}
              <p class="title"><b>{{ paper.title }}</b></p>
              {% endif %}

              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">

                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                  <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.notes %} 
                <strong> <i style="color:deeppink">{{ paper.notes }}</i></strong>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-mllm">
      {% for paper in site.data.publications.papers %}
      {% if paper.category contains 'MLLM' %}
        <div class="paper">
          <div class="row" style="display: flex;align-items: center;">
            <div class="four columns">
              <div class="figure" style="display: flex; justify-content: center;">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            <div class="eight columns">
                          
              {% if paper.highlight %}
              <p class="title" style="color: #07c63c;"><b>{{ paper.title }}</b></p>
              {% else %}
              <p class="title"><b>{{ paper.title }}</b></p>
              {% endif %}

              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">

                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                  <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.notes %} 
                <strong> <i style="color:deeppink">{{ paper.notes }}</i></strong>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-forwardlearning">
      {% for paper in site.data.publications.papers %}
      {% if paper.category contains 'ForwardLearning' %}
        <div class="paper">
          <div class="row" style="display: flex;align-items: center;">
            <div class="four columns">
              <div class="figure" style="display: flex; justify-content: center;">
                <img src="{{ paper.image }}" width="100%">
              </div>
            </div>
            <div class="eight columns">
                          
              {% if paper.highlight %}
              <p class="title" style="color: #07c63c;"><b>{{ paper.title }}</b></p>
              {% else %}
              <p class="title"><b>{{ paper.title }}</b></p>
              {% endif %}

              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
              <div class="paper-buttons">

                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf }}" target="_blank">Paper</a>
                {% endif %}

                {% if paper.slides %}
                  <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
                {% endif %}

                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}

                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}

                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}

                {% if paper.data %}
                  <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
                {% endif %}

                {% if paper.notes %} 
                <strong> <i style="color:deeppink">{{ paper.notes }}</i></strong>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
      <div class="paper">
        <div class="row" style="display: flex;align-items: center;">
          <div class="four columns">
            <div class="figure" style="display: flex; justify-content: center;">
              <img src="{{ paper.image }}" width="100%">
            </div>
          </div>
          <div class="eight columns">
            {% if paper.highlight %}
            <p class="title" style="color: #07c63c;"><b>{{ paper.title }}</b></p>
            {% else %}
            <p class="title"><b>{{ paper.title }}</b></p>
            {% endif %}

            <p>{{ paper.authors }}</p>
            <p><i>{{ paper.venue }}</i></p>
            <div class="paper-buttons">

              {% if paper.paper_pdf %}
                <a class="button" href="{{ paper.paper_pdf}}" target="_blank">Paper</a>
              {% endif %}

              {% if paper.slides %}
                <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
              {% endif %}

              {% if paper.poster %}
                <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
              {% endif %}

              {% if paper.video %}
                <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
              {% endif %}

              {% if paper.code %}
                <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
              {% endif %}

              {% if paper.data %}
                <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
              {% endif %}

              {% if paper.notes %} 
              <strong> <i style="color:deeppink">{{ paper.notes }}</i></strong>
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
</div>


<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->

<!-- ========== EDUCATION ========== -->
<div class="docs-section" id="education">
  <h4>Education</h4>

  <ul>
      {% for link in site.data.education.education %}
      <!-- <a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a> -->
        <div class="paper">
          <div class="row" style="display: flex;align-items: center;">
            <div class="four columns">
              {% if link.image %} 
              <div class="figure" style="display: flex; justify-content: center;">
                <img src="{{ link.image }}" height="90">
              </div>
              {% endif %}
              {% if link.affiliation_short %} 
              <abbr class="badge">{{ link.affiliation_short }}</abbr>
              {% endif %}
            </div>
            <div class="eight columns">
              <div class="title"><b>{{ link.affiliation }}</b></div>
              <div class="time">{{ link.base }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ link.time }}</div>
              <div class="position"><em>{{ link.position }}</em></div>
              {% if link.mentors %} 
              <div class="mentors">
                {% if link.mentors.size > 1 %}
                    Mentors:
                {% else %}
                    Mentors:
                {% endif %}
                {% for mentor in link.mentors %}
                    {% if mentor.page %}
                        <a href="{{ mentor.page }}">{{ mentor.name }}</a>
                    {% else %}
                        {{ mentor.name }}
                    {% endif %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
              {% endif %}
              {% if link.advisors %} 
              <div class="advisors">
                {% if link.advisors.size > 1 %}
                    Advisors:
                {% else %}
                    Advisor:
                {% endif %}
                {% for advisor in link.advisors %}
                    {% if advisor.page %}
                        <a href="{{ advisor.page }}">{{ advisor.name }}</a>
                    {% else %}
                        {{ advisor.name }}
                    {% endif %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <br>
      {% endfor %}
  </ul>

</div>

<!-- ========== Experiences ========== -->
<div class="docs-section" id="experiences">
  <h4>Experiences</h4>

  <ul>
      {% for link in site.data.experiences.experiences %}
      <!-- <a class="navbar-link" href={{ "/index.html#bio" | prepend: site.baseurl }}>Bio</a> -->
        <div class="paper">
          <div class="row" style="display: flex;align-items: center;">
            <div class="four columns">
              {% if link.image %} 
              <div class="figure" style="display: flex; justify-content: center;">
                <img src="{{ link.image }}" height="90">
              </div>
              {% endif %}
              {% if link.affiliation_short %} 
              <abbr class="badge">{{ link.affiliation_short }}</abbr>
              {% endif %}
            </div>
            <div class="eight columns">
              <div class="title"><a href="{{ link.website }}">{{ link.affiliation }}</a></div>
              <div class="time">{{ link.base }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ link.time }}</div>
              <div class="position"><em>{{ link.position }}</em></div>
              {% if link.mentors %} 
              <div class="mentors">
                {% if link.mentors.size > 1 %}
                    Mentors:
                {% else %}
                    Mentors:
                {% endif %}
                {% for mentor in link.mentors %}
                    {% if mentor.page %}
                        <a href="{{ mentor.page }}">{{ mentor.name }}</a>
                    {% else %}
                        {{ mentor.name }}
                    {% endif %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
              {% endif %}
              {% if link.advisors %} 
              <div class="advisors">
                {% if link.advisors.size > 1 %}
                    Advisors:
                {% else %}
                    Advisor:
                {% endif %}
                {% for advisor in link.advisors %}
                    {% if advisor.page %}
                        <a href="{{ advisor.page }}">{{ advisor.name }}</a>
                    {% else %}
                        {{ advisor.name }}
                    {% endif %}
                    {% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <br>
      {% endfor %}
  </ul>

</div>


<!-- ========== Service ========== -->
<!-- <div class="docs-section" id="service">
  <h4>Service</h4>
  
  <b>Conference Reviewer:</b>
  <ul class="STYLE238">
    Coming soon ...
    -UAI: Conference on Uncertainty in Artificial Intelligence 2023-2024<br/>
    -ICPRAM: International Conference on Pattern Recognition Applications and Methods 2023-2024<br/>
    -ISBI: IEEE International Symposium on Biomedical Imaging 2023<br/>
  </ul>
  
  <b>Journal Reviewer:</b>
  <ul class="STYLE238">
    Coming soon ...
  </ul>

</div> -->


<!-- ========== MISC ========== -->
<div class="docs-section" id="misc">
  <h4>Misc.</h4>

  <p style="text-align:left"><b>Fun facts:</b></p>
  <ul class="STYLE238">
    <li>I ventured through three distinct majors during my undergrad, master's, and doctoral journeys, which makes me deeply thankful for  finally finding my true passion before bidding farewell to campus life. </li>
    <li>I love to design and host activities for friends to get together. See invitation examples <a href="./assets/misc/just_wanna_invitation.jpg">[1]</a><a href="./assets/misc/jhu_graduation_invitation.jpg">[2]</a>
      <a href="./assets/misc/bananana_invitation.PNG">[3]</a>.</li>
    <li>I am blessed with friends and family who offer me their unwavering support. Love you guys. </li>
  </ul>

  <p style="text-align:left"><b>Pipe dreams:</b></p>
  <ul class="STYLE238">
    <li>May all in this world be free from illness' blight, without lamenting the dusty shelves where medicines recline.</li>
    <li>To live in latant space of foundation models and feel the "physical" properties there.</li>
    <li> <i>"Because it's there."</i>&nbsp;&nbsp;&nbsp;&nbsp; ——George Mallory</li>
  </ul>
</div>  


<!-- ========== RESUME ========== -->
<!-- <div class="docs-section" id="resume">
  <h4>Résumé</h4>

  <p>Full Resume in <a href={{ "/assets/cv/cv_web.pdf" | prepend: site.baseurl }} target="_blank">PDF</a>.</p>

  <ul class="timeline">
    {% for exp in site.data.resume.resume %}
    <li>
      {% if exp.category == "work" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div> -->

<!-- <div class="docs-section" id="template">
  <h4>Website Design</h4>
  Since I made this website, many people have found this Jekyll template useful [
  {% for template_user in site.data.template_users.template_users %}
  <a href="{{ template_user }}" target="_blank">{{ forloop.index }}</a>{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}
  ].
  You can find all the code needed to build your website in this <a href="https://github.com/msaveski/www_personal" target="_blank">GitHub repo</a>.
  Feel free to use it. <br/>

  If you end up using it, please link to here and drop me an email.
  I'm always happy to see people using it.
</div>   -->
